<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @realm.name %>
</p>

<p>
  <b>Type:</b>
  <%= @realm.realm_type %>
</p>

<p>
  <b>Population:</b>
  <%= @realm.population %>
</p>

<p>
  <b>Battlegroup:</b>
  <%= @realm.battlegroup %>
</p>

<p>
  <b>Slug:</b>
  <%= @realm.slug %>
</p>

<%= link_to 'Back', realms_path %>
