<div class='block'>
  <div class='content'>
    <h2 class='tite'><%= @character.name %></h2>
    <div class='inner'>
      <h3 class='tite'><%= guild_name(@character) %></h3>
      <p class='first'>
        <%= image_tag "http://us.battle.net/static-render/us/#{@character.thumbnail}" %>
      </p>
      <p>
        <b>Race:</b>
        <%= RaceValues.convert(@character.race) %>
      </p>

      <p>
        <b>Gender:</b>
        <%= GenderValues.convert(@character.gender) %>
      </p>

      <p>
        <b>Level:</b>
        <%= @character.level %>
      </p>

      <p>
        <b>Achievement points:</b>
        <%= @character.achievement_points %>
      </p>

      <p>
        <b>Class:</b>
        <%= ClassValues.convert(@character.class_id) %>
      </p>

      <p>
        <b>Last activity:</b>
        <%= Time.now-(Time.now.to_i-@character.last_activity/1000) %>
      </p>
      <p>
        <b>Last activity:</b>
        <%= @character.updated_at %>
      </p>
    </div>
  </div>
</div>